@import 'normalize.css';
@import '../SideBar/SideBar.css';
@import '../Controls/Controls.css';
@import '../CardDisplay/CardDisplay.css';
@import '../VehicleCard/VehicleCard.css';
@import '../PlanetCard/PlanetCard.css';
@import '../PeopleCard/PeopleCard.css';

@font-face {
  font-family: 'star wars font';
  src: url(./starJedi.ttf);
}
@font-face {
  font-family: 'star wars hollow';
  src: url(./starHollow.ttf);
}
@font-face {
  font-family: 'death star';
  src: url(./deathStar.otf);
}


main {
  background: #C0B8BE;
  cursor: url('./pointer.svg'), default;
  display: flex;
  font-family: 'star wars font';
}

#content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 2% 0;
  font-family: 'star wars font';
  text-shadow: -3px 0 #F8AC1B, 0 3px #F8AC1B, 3px 0 #F8AC1B, 0 -3px #F8AC1B;
}

#side-bar-wrapper {
  background: #120F1E;
  height: 151em;
  width: 25%;
}

#side-bar {
	bottom: 0;
	font-size: 1.4em;
	font-weight: bold;
	height: 80em;
	left: 50%;
	overflow: hidden;
	position: absolute;
	text-align: left;
	transform-origin: 50% 100%;
	transform: perspective(500px) rotateX(25deg);
	width: 19%;
  color: #F8AC1B;
  float: left;
  font-family: 'death star';
  line-height: 1.5em;
  margin-left: -50%;
}

#side-bar-title {
  font-family: 'star wars hollow';
  font-size: 2em;
  text-align: center;
}

#button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#side-bar:after {
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	bottom: 60%;
	content: ' ';
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

#side-bar-content {
	animation: scroll 175s linear 4s infinite;
	position: absolute;
	top: 100%;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

#card-display {
  align-items: center;
  background: #6A452D;
  border-radius: 20px;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin-bottom: 60px;
  margin-top: 50px;
  padding: 20px;
  width: 90%;
}

.labels {
  color: #dcd3e8;
}

@media screen and (max-width: 950px) {
  #side-bar-wrapper{
    display: none;
  }

  main {
    min-height:1000px;
  }
}

@media screen and (max-width: 750px) {
  .button-container{
    align-items: center;
    flex-direction: column;
    height: 180px;
    justify-content: space-around;
  }

  main {
    min-width: 320px;
    padding: 10px;
  }

  h1 {
    font-size: 3em;
  }

  #category-div,
  #select-favorites-display {
    font-size: 1.5em;
  }

  #card-display {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2em;
  }

  #category-div,
  #select-favorites-display {
    font-size: 1em;
  }

  .button-container {
    height: 250px;
  }
}
