@import 'normalize.css';
@import '../SideBar/SideBar.css';
@import '../Controls/Controls.css';
@import '../CardDisplay/CardDisplay.css';
@import '../VehicleCard/VehicleCard.css';
@import '../PlanetCard/PlanetCard.css';
@import '../PeopleCard/PeopleCard.css';

@font-face {
  font-family: 'star wars font';
  src: url(./starJedi.ttf);
}
@font-face {
  font-family: 'star wars hollow';
  src: url(./starHollow.ttf);
}
@font-face {
  font-family: 'death star';
  src: url(./deathStar.otf);
}


main {
  display: flex;
  background: #C0B8BE;
  font-family: 'star wars font';
  cursor: url('./pointer.svg'), default;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /*justify-content: center;*/
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 2% 0;
  font-family: 'star wars font';
  text-shadow: -3px 0 #F8AC1B, 0 3px #F8AC1B, 3px 0 #F8AC1B, 0 -3px #F8AC1B;
}

#side-bar-wrapper {
  width: 25%;
  background: #120F1E;
  height: 60em;

}

#side-bar {
	position: absolute;
	width: 19%;
	height: 80em;
	bottom: 0;
	left: 50%;
  margin-left: -50%;
	font-size: 1.4em;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(500px) rotateX(25deg);
  color: #F8AC1B;
  line-height: 1.5em;
  float: left;
  font-family: 'death star'
}

#side-bar-title {
  text-align: center;
  font-size: 2em;
  font-family: 'star wars hollow'
}

#button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#side-bar:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#side-bar-content {
	position: absolute;
	top: 100%;
	animation: scroll 60s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

#card-display {
  background: #6A452D;
  width: 90%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 60px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
