@import 'normalize.css';
@import '../SideBar/SideBar.css';
@import '../Controls/Controls.css';
@import '../CardDisplay/CardDisplay.css';


main {
  display: flex;
  background: #C0B8BE;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*justify-content: center;*/
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  margin: 2% 0;
}

#side-bar-wrapper {
  width: 25%;
  background: #120F1E;
  height: 60em;
}

#side-bar {
	position: absolute;
	width: 10em;
	height: 100em;
	bottom: 0;
	left: 50%;
	margin-left: -28em;
	font-size: 1.4em;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(500px) rotateX(20deg);
  color: #F8AC1B;
  line-height: 1.5em;
  float: left;
}

#button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#side-bar:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#side-bar-content {
	position: absolute;
	top: 100%;
	animation: scroll 50s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

#card-display {
  background: #6A452D;
  width: 90%;
  height: 730px;
  margin-top: 50px;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2%;

}

#vehicle-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
