@font-face {
  font-family: 'star wars font';
  src: url(../App/starJedi.ttf);
}
@font-face {
  font-family: 'star wars hollow';
  src: url(../App/starHollow.ttf);
}
@font-face {
  font-family: 'death star';
  src: url(../App/deathStar.otf);
}

.button {
width: 150px;
padding-top: 4px;
margin-right: 20px;
height: 30px;
border-radius: 20px;
border: none;
background: white;
font-family: 'death star'
}

.button:focus {
  outline: 0;
  border: 1px dotted #E30A00
}

#favorites-indicator {
  margin-left: 5px;
  background-color: red;
  font-weight: bold;
  border-radius: 25%;
  margin-bottom: 2px;
  padding: 2px;
  height:15px;
  width:15px;
}

#favorites-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('./favorites.svg'), default;
}

.vehicles-btn {
  cursor: url('./vehicle.svg'), default;
}

.people-btn {
  cursor: url('./people.png'), default;
}

.planets-btn {
  cursor: url('./planets.png'), default;
}
