@font-face {
  font-family: 'star wars font';
  src: url(../App/starJedi.ttf);
}
@font-face {
  font-family: 'star wars hollow';
  src: url(../App/starHollow.ttf);
}
@font-face {
  font-family: 'death star';
  src: url(../App/deathStar.otf);
}

.button {
background: #eaeaea;
border-radius: 20px;
border: none;
box-shadow: 1px 1px 1px rgba(37, 37, 37, 0.70);
font-family: 'death star';
height: 30px;
margin-right: 20px;
padding-top: 4px;
width: 150px;
}

.button:hover {
  box-shadow: none;
}

.button:focus {
  background-color: #73c387;
  border: 1px dotted #E30A00;
  box-shadow: none;
  outline: 0;
}

#favorites-indicator {
  background-color: red;
  border-radius: 25%;
  font-weight: bold;
  height:15px;
  margin-bottom: 2px;
  margin-left: 5px;
  padding: 2px;
  width:15px;
}

#favorites-btn {
  align-items: center;
  cursor: url('./favorites.svg'), default;
  display: flex;
  justify-content: center;
}

.vehicles-btn {
  cursor: url('./vehicle.svg'), default;
}

.people-btn {
  cursor: url('./people.png'), default;
}

.planets-btn {
  cursor: url('./planets.png'), default;
}

.button-container{
  display: flex;
  width: 100%;
}

#favorites-btn:hover,
.vehicles-btn:hover,
.people-btn:hover,
.planets-btn:hover {
  background-color: #73c387;
}
